footer{
    padding: 50px 16px 30px 16px;
    min-height: 440px;
    max-width: 1440px;
    width: 100%;
    gap: 30px;

    background: var(--background--primary);
}

footer i{
    color: #000;
}

footer>div{
    width: 100%;
}
/*PRIMEIRO CONTAINER DO FOOTER*/
.container-footer{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}
.footer-nav{
    max-height: 79px;
    align-items: center;
    gap: 24px;
}
.footer-nav p::before{
    content: url('../img/logo.png');
}
.footer-nav p{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    color:#e4e4e7
}
.footer-nav nav{
    max-width: 260px;
    min-height: 21px;
}
nav{
    display: inline-flex;
    gap: 14px;
}
.footer-nav nav a{
    font-size: 14px;
    font-weight: 400;
    color: #e4e4e7;
}
/*SEGUNDO CONTAINER DO FOOTER*/
.contacts-footer{
    min-height: 24px;
    gap: 20px;
    align-items: center;
}
.contacts-inline{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.contacts-links{
    max-width: 270px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-around;
}
.contacts-footer i{
    color: var(--background--button);
}
.contacts-links p{
    font-size: 14px;
    font-weight: 400;
    color: #e4e4e7;
}
/*TERCEIRO CONTAINER DO FOOTER*/
.social-media-footer{
    align-items: center;
    min-height: 68px;
    padding: 12px 24px 12px 12px ;
}
.social-media{
    max-width: 148px;
    min-height: 44px;
    display: inline-flex;
    gap: 8px;
    position: relative;
    top: 20px;
    z-index: 2;
}
.social-media button{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: var(--background--button);
}
.subcontainer-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 12px 30px 24px;
    border: 1px solid #000;
    border-radius: 5px;
}
.subcontainer-footer p{
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    color: #b3b3b3;
}
.subcontainer-footer-social-media{
    max-height: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}
.subcontainer-footer-social-media p ,
.subcontainer-footer-social-media a{
    color: #b3b3b3;
}
.subcontainer-footer-social-media span{
    color: #b3b3b3;
}
@media screen and (min-width: 700px) {
    footer{
        gap: 40px;
        padding: 30px 40px 15px 40px;
    }
    .footer-nav{
        gap: 40px;
    }
    .contacts-footer{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contacts-inline{
        width: 50%;
    }
    .social-media-footer{
        background: var(--background--page);
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid var(--background--secundary);
        border-radius: 50px;
    }
    .social-media{
        top: 0;
    }
    .subcontainer-footer{
        padding: 12px 12px 12px 24px;
        border: none;
    }
    .subcontainer-footer{
        flex-direction: row;
        font-size: 14px; /*VERIFICAR*/

    }
}

@media screen and (min-width: 1200px) {
    .footer-nav nav a{
        font-size: 16px;
    }
    .footer-nav p{
        font-size: 20px;
    }
    .contacts-inline{
        width: 25%;
    }
    .contacts-links{
        gap: 3px;
    }
    .contacts-links p{
        font-size: 16px;
    }
    .subcontainer-footer{
        width: 65%;
    }
    .subcontainer-footer-social-media{
        margin: 0 15px 0 230px;
    }
    .subcontainer-footer-social-media p ,
    .subcontainer-footer-social-media a{
        font-size: 18px;
    }
    .subcontainer-footer p{
        font-size: 18px;
    }
}