header{
    width: 85%;
    padding: 7px 12px 7px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--background--secundary);
    background: var(--background--primary);
    border-radius: 50px;
    margin-top: 30px;
}
.logo{
    min-height: 26px;
    max-width: 116.87px;
}
.logo p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo p::before{
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
header nav{
    display:none;
}
.menu-container{
    position: relative;
    width: 15vw;
    top: 15%;
}
.btn-menu{
    height: 40px;
    width: 56px;
    border: 1px solid var(--background--secundary);
    border-radius: 50px;
    background: var(--background--button);
    position: relative;
    transition: transform 0.25s ease, border 0.25s ease;
}
.btn-menu.active{
    background: transparent;
    border: 1px solid #2C2C2C;
}
.menu-list{
    position: absolute;
    z-index: 3;
    width: 20vw;
    gap: 15px; 
    list-style: none;
    right: -10px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;

    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu-list.show{
    transform: scaleY(1);
    transform-origin: top;

    padding: 20px;

    background: #111111;

    border: 1px solid #2C2C2C;
    border-radius: 14px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);

    backdrop-filter: blur(6px);
}
@media screen and (min-width: 700px) {
    header{
       padding: 6px 12px;
       backdrop-filter:  blur(12px);
      -webkit-backdrop-filter: blur(12px); 
       box-shadow: 0 8px 30px rgba(0,0,0,0.35);
       transition:  all 0.03 ease;
    }
    
    .dropdown{
        display: none;
    }

    .btn-menu{
        display: none;
    }

    header nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 26px;
    }

    

    .menu-list{
        position: relative;
        right:0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        max-width: 161px;
        max-height: 45px;

        gap: 10px;
        margin-left: -20px;

        /* 🔥 RESET IMPORTANTE */
        transform: none;
        overflow: visible;
    }
}

@media screen and (min-width: 1200px) {
    header{
        padding: 10px 15px;
    }

    header nav a{
        position: relative;
        padding: 10px 18px;
        transition: color 0.3s ease;
    }

    header nav a::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: 4px;
        width: 0;
        height: 2px;
        background: var(--background--secundary);
        transition: width 0.3s ease, left 0.3 ease;
    }

    header nav a:hover{
        color: var(--background--secundary);
    }

    header nav a:hover::after{
        width: 100%;
        left: 0;
    }

    .menu-list li a{
        padding: 10px 15px;
        border-radius: 50px;
        transition: 
            background-color 0.35s ease, transform 0.25s ease, box-shadow 0.25s ease 
    }

    .menu-list li a:hover{
        background: var(--background--button);
        transform:  translateY(-2px);
        box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    }   
}