header{
    padding: 14px 24px 14px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 68px;
    max-width: 1440px;
    min-width: 358px;
    width: 80%;
    border: 1px solid var(--background--secundary);
    background: var(--background--primary);
    border-radius: 50px;
    margin-top: 30px;
}

.logo{
    min-height: 26px;
    max-width: 116.87px;
}

.logo p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo p::before{
    content: url(../img/logo.png);
}

header nav{
    display:none;
}

.menu-container{
    position: relative;
    width: 15vw;
    top: 15%;
}

.btn-menu{
    height: 40px;
    width: 56px;
    border: 1px solid var(--background--secundary);
    border-radius: 50px;
    background: var(--background--button);
    position: relative;
}

.menu-list{
    position: absolute;
    line-height: 28px;
    width: 15vw;
    
    list-style: none;
    display: none;
    z-index: 3;
}

header nav a,
.menu-list a{
        font-size: 14px;
        color: #fff;
    }

.menu-list.show{
    display: block;
}

@media screen and (min-width: 700px) {
    header{
        width: 85%;
        padding: 14px 24px;
    }
    
    .btn-menu{
        display: none;
    }

    header nav{
        display: block;
        display: flex;
        gap: 26px;
    }

    header nav a{
        text-transform: capitalize;
    }

    .menu-list{
        position: relative;
        right: 45px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 161px;
        max-height: 45px;
        gap: 20px;
        font-size: 14px; /*VERIFICAR*/
    }
}

@media screen and (min-width: 1200px) {
    header{
        width: 100%;
        padding: 10px 15px;
    }

    header nav a{
        position: relative;
        padding: 10px 18px;
        transition: color 0.3s ease;
    }

    header nav a::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: 4px;
        width: 0;
        height: 2px;
        background: var(--background--secundary);
        transition: width 0.3s ease, left 0.3 ease;
    }

    header nav a:hover{
        color: var(--background--secundary);
    }

    header nav a:hover::after{
        width: 100%;
        left: 0;
    }

    .menu-list li a{
        padding: 10px 15px;
        border-radius: 50px;
        transition: 
            background-color 0.35s ease, transform 0.25s ease, box-shadow 0.25s ease 
    }

    .menu-list li a:hover{
        background: var(--background--button);
        transform:  translateY(-2px);
        box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    }   
}