.hero{
    gap: 80px;
    position: relative;
}

.arrow-background{
    width: 220px;
    height: 201px;
    background-image: url('../img/row.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 1em;
    position: absolute;
    right: -40px;
    top: 380px;
    z-index: 1;
}

.hero-card{
    gap: 30px;
    align-items: center;
}

.verified{
    min-width: 245px;
    max-width: 300px;
    width: 100%;
    padding: 8px 16px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    background: var(--background--secundary);
    border: none;
    border-radius: 20px;
    white-space: nowrap;
}

.verified-img{
    width: 20px;
    height: 20px;
    background-image: url('../img/Subtract.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

.verified p{
    font-size: 16px;
}

.text-container-hero{
    gap: 8px;
}

.finance-card{
    border: 1px solid var(--background--secundary);
    border-radius: 5px;
    background: var(--background--primary);
    z-index: 2;
    height: 368.2px;
    position: relative;
}

.finance-card-container{
    padding: 20.51px;
    gap: 15.38px;   
}

.transactions p{
    text-align: left;
}

.transactions-made{
    height: 107.57px;
    display: flex;
    flex-direction: column;
    gap: -14.36px;
}

.sent-to{
    padding: 8.2px 12.31px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px auto;
    gap: auto;
    width: 80%;
    border: 1px solid var(--background--secundary);
    border-radius: 5px;
}

.sent-to:nth-child(1){
    z-index: 3;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

.sent-to:nth-child(2){
    z-index: 2;
    transform: translate(12px 12px);
    opacity: 0.8;
}

.sent-to:nth-child(3){
    z-index: 1;
    transform: translate(24px 24px);
    opacity: 0.6;
}

.icon-btn{
    background: var(--background--button);
    border-radius: 50%;
    border: 1px solid var(--background--primary);
    width: 25px;
    height: 25px;
    padding: 5.13px;
}

.sent-to-person{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
    gap: 5.13px;
}

.icon-btn{
    background-image:url('../img/btn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    padding: 1em;
}
.name{
    display: flex;
    flex-direction: column;
}
.amount{
    font-size: 12.31px;
    font-weight: 400;
    color: #fff;
}
.currency{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.16px 5.16px 5.16px 12.31px;
    background: var(--deep--forest);
    border-radius: 50px;
    min-width: 219.57px;
    max-width: 294.87px;
    width: 50%;
    position: absolute;
    right: -25px;
    top: 378px;

}
.currency p{
    font-size: 9.23px;
    font-weight: 400;
}
.coin{
    background: var(--background--primary);
    padding: 5.13px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4.1px;
}
.coin button{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: var(--background--secundary);
    border: none;
}
.currency-symbol{
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    padding: 1em;
    width: 6.67px;
    height: 8.79px;
}
.real{
    background-image: url('../img/real.png');
}
.euro{
    background-image: url('../img/euro.png');
}
.bitcoin{
    background-image: url('../img/bitcoin.png');
}
.sparkles{
    background-image: url('../img/Group.png');
}

@media screen and (min-width:700px) {
    .hero{
        flex-direction: row;
        gap: 50px;
        padding: 30px 100px 30px 30px;
    }

    .hero-card{
        align-items: normal;
        gap: 40px;
    }

    .text-container-hero h1,
    .text-container-hero p{
        text-align: left;
    }
}

@media screen and (min-width:1200px) {
    .hero{
        padding: 60px 200px 60px 80px;
        gap: 100px;
    }

    .hero-card{
        gap: 60px;
    }

    .text-container-hero{
        max-width: 570.81px;
        width: 100%;
        gap: 10px;
    }
}