.hero{
    gap: 80px;
}
.hero-card{
    gap: 30px;
    align-items: center;
}
.subcontainer-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.verified-bar{
    border-radius: 50px;
    border: 1px solid var(--background--secundary);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px 8px 8px;
    
}
.verified-img{
    height: 20px;
    width: 20px;
    background-image: url('../img/Subtract.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    padding: 1em;
}
.verified-bar p{
    font-size: 12px;
}
.text-container-hero{
    gap: 8px;
}
.finance-card{
    border: 1px solid var(--background--button);
    border-radius: 5px;
    padding: 20.51px;
    align-items: center;
    gap: 15.38px;
    position: relative;
}
.transactions{
    width: 100%;
    gap: 10.26px;
    margin-top: 20px;
}
.transactions h5{
    text-align: left;
    font-size: 10.26px;
    font-weight: 500;
}
.container-transactions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stack-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -14.36px;
}
.stack{
    position: relative;
    width: 260px;
    height: 160px;
}
.card{
    position: absolute;
    inset: 0;
    background: linear-gradient(35deg, #000,#fff);
    color: #FFF;
    border-radius: 16px;
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    transition: 
        transform 0.45s ease,
        opacity 0.45s ease;
}
.send-to{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.text-container-card{
    gap: 6.89px;
}
.text-transaction{
    font-weight: 300;
    font-size: 9.23px;
}
.name{
    font-size: 10.26px;
    font-weight: 400;
}
.number{
    font-weight: 500;
    font-size: 12px !important;
}
.card:nth-child(1){
    transform: translateY(0) scale(1);
    z-index: 4;
}
.card:nth-child(2) {
  transform: translateY(12px) scale(.95);
  z-index: 3;
  opacity: .9;
}
.card:nth-child(3) {
  transform: translateY(24px) scale(.9);
  z-index: 2;
  opacity: .75;
}


button{
    margin-top: 25px;
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover{
    background: #1d4ed8;
}
.exchange{
    height: 179.02px;
}
.monthly-income,
.supported-currency{
    background: var(--deep--forest);
    position: absolute;
}
.monthly-income{
    border-radius: 5px;
    padding: 8.2px 10.26px;
    display: flex;
    align-items: center;
    gap: 5.13px;
    top: -30px;
    left: -10px;
}
.monthly-income button{
    border: 1px solid var(--background--secundary);
    background: var(--background--button);
    width: 22.6px;
    height: 22.53px;
    padding: 5.13px;
    gap: 5.13px;
    border-radius: 50%;
}
.text-container-monthly{
    gap: 0.51px;
}
.text-container-monthly:nth-child(1){
    font-size: 10.26px;
    font-weight: 400;
}
.text-container-monthly:nth-child(2){
    font-size: 8.2px;
    font-weight: 300;
}
.supported-currency{
    display: flex;
    align-items: center;
    padding: 5.13px 12.31px 5.13px;
    border-radius: 50px;
    border: none;
    right: -20px;
    bottom: -50px;
}
.supported-currency p{
    font-size: 9.23px;
    margin-right: 5px;
}
.supported-currency ul{
    display: flex;
    padding: 5.13px;
    gap: 4.1px;
    background:var(--background--page);
    border-radius: 50px;
    align-items: center;
}
.supported-currency button{
    width: 20.57px;
    height: 20.46px;
    border-radius: 50px;
    background: var(--background--secundary);
    border: none;
}

@media screen and (min-width: 700px) {
    .hero{
        padding: 30px 40px;
        gap: 50px;
    }
    .hero-card{
        gap: 40px;
    }
    .text-container-hero{
        gap: 10px;
    }

}

@media screen and (min-width: 1200px) {}