main{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: space-between;
    height: auto;
    padding: 5px;
    width: 90%;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 15px auto;
}

.button-text{
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    transition:color 0.5s ease;
}

.highlight-text{
    color: var(--background--button);
}

h1,h2, h4,
p{
    text-align: center;
}

h1,h2{
    font-size: 28px;
    font-weight: 500;
}

h1,h2,h3,h4,h5{
    color: var(--color-of-the-title);    
}


.text-container,
.container{
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}

p{
    color: #fff;
    font-weight: 300;
}