@import url(../styles/header.css);
@import url(../styles/main.css);
@import url(../styles/products-section.css);
@import url(../styles/use-cases.css);
@import url(../styles/features.css);
@import url(../styles/testimonials.css);
@import url(../styles/cta.css);
@import url(../styles/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background--page:#1A1A1A; /*GREY 10*/
    --background--primary:#1C1C1C; /*GREY 11*/
    --background--secundary:#262626; /*GREY 15*/
    --background--button:#CAFF33; /*GREEN 60*/

    --paragraph--color:#b3b3b3; /*GREY 70*/
    --color-of-the-title:#FFF;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--background--page);
}

.container-page{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

main,footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

.dots-background{
    width: 382px;
    height: 307.42px;
    position: absolute;
    background-image: url(../img/dots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
}

.open-account{
    width: 144px;
    height: 49px;
    padding: 14px 24px;
    display: flex;
    gap: 10px;
    background: var(--background--button);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.open-account > .button-text{
    color:#000;
}