
@import url(../styles/header.css);
@import url(../styles/main.css);
@import url(../styles/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background--page:#1A1A1A; /*GREY 10*/
    --background--primary:#1C1C1C; /*GREY 11*/
    --background--secundary:#262626; /*GREY 15*/
    --background--button:#CAFF33; /*GREEN 60*/

    --paragraph--color:#b3b3b3;
    --text--color:#FFF;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.container-page{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

main,footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

.dots-background{
    width: 382px;
    height: 307.42px;
    position: absolute;
    background-image: url(../img/dots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
}
