.testimonials{
    min-height: 481px;
    max-height:616px;
}
.subcontainer-testimonials{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;

}
.text-container-testimonials{
    gap: 10px;
}
.text-container-testimonials p{
    font-weight: 300;
}
.tabs{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--background--secundary);
    border-radius: 50px;
    margin: 10px auto;
    background: var(--background--primary);
}
.tabs button{
    width: 139px;
    height: 41px;
    padding: 10px 18px;
}
.container-testimonials{
    width: 100%;
    height: 355px;
    flex-direction: column;
    overflow: hidden;
}
.card-wrapper{
    position: relative;
    max-width: 1300px;
    min-height: 358px;
    width: 100%;
    padding: 20px 10px; 
}
.swiper-slide{
    display: flex;
    justify-content: center;    
}
.header-card{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 44px;
    position: absolute;
    top: 10px;
}
.header-card hr{
    width: 121px;
    color: var(--background--secundary);
}
.quotes{
    background-image: url(../img/quotes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
}
.card-list{
    list-style: none;

}
.card-item{
    width: 358px;
    height: 273px;
    border: 1px solid var(--background--secundary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 30px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    position: relative;
}
.card-item blockquote{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    margin-top: 10px;
}
.card-item cite{
    font-size: 16px;
    font-weight: 500;
    color: var(--background--button);
}
.swiper-slide-button{
    width: 52px;
    height: 52px;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid var(--background--secundary);
    color: var(--background--button);
    position: absolute;
    top: 50%;
    transform: translateY(280%);
}

@media screen and (min-width:700px) {
    .testimonials{
        gap: 60px;
    }

    .subcontainer-testimonials{
        flex-direction: row;
        gap: 75px;
    } 

    .text-container-testimonials h2,
    .text-container-testimonials p{
        text-align: left;
    }
}
